%li{current_item?(menu_item, current_item)}
  - if menu_item.id == current_item.id
    %ins &nbsp;
  != link_to h(menu_item.title), "#"
  - if !menu_item.children.empty?
    %ul.menu!= render :partial => 'menu_item', :collection => menu_item.children, :locals => {:current_item => current_item}