%ul.menu
  != render :partial => 'menu_item', :collection => items, :locals => {:current_item => current_item}
  - if current_item.new_record?
    != render :partial => 'new_menu_item', :object => current_item
