%ul.menu
  != render :partial => 'menu_item', :collection => items, :locals => {:current_item => current_item}

  - if render_as_new_item?(current_item, root)
    != render :partial => 'new_menu_item', :locals => {:new_item => current_item}
