.documentation_navigation
  != doc_page.has_previous? ? link_to(image_tag('previous.png'), documentation_page_path(doc_page.previous)) : image_tag("previousInactive.png")
  != doc_page.has_up? ? link_to(image_tag('up.png'), documentation_page_path(doc_page.up)): image_tag('upInactive.png')
  != doc_page.has_next? ? link_to(image_tag('next.png'), documentation_page_path(doc_page.next)) : image_tag('nextInactive.png')