%fieldset.positioning
  .yui-gf
    .yui-u.first.form_label
      !=f.label :parent_id, "Parent"
    .yui-u
      !=f.collection_select :parent_id, all_documents, :id, :title, :prompt => true, :include_blank => true
  .yui-gf
    .yui-u.first.form_label
      !=f.label :position
    .yui-u
      !=f.text_field :position
%fieldset.positioning_tree
  .yui-gf
    .yui-u.first.form_label
      !=label_tag "Document page position"
    .yui-u#menu_editor
      != render :partial => 'menu_edit', :locals => {:items => @menu_items, :current_item => documentation_page, :root => true}
