- if @current_user
  != link_to "Edit page", edit_documentation_page_path(doc_page)
  != link_to "Add comment", new_documentation_page_comment_path(doc_page)
- else
  You need to log in to add a comment