- form_for([doc_page, doc_page.comments.build]) do |f|
  != render :partial => 'shared/markdown_editor', :locals => {:f => f, :element => :body}
  .yui-g
    .yui-u
      != submit_tag "Submit comment"