#body
  .section-main
    .section-item
      != render :partial => 'shared/messages'
      != yield
  .section-item#menu_container
    != render :partial => 'shared/menu', :locals => {:items => @menu_items}