.yui-g
  .yui-u.first
    != f.text_area element, :class => 'markdown_editor'
  .yui-u
    %h3.live_header Live preview
    .wmd-preview
      %noscript You need javascript enabled to see the live preview