@import yui.sass
@import yui-ext.sass
@import compass/reset.sass
@import forms.sass
@import comments.sass
@import gradients.sass
@import structure.sass

+yui-base-fonts
+yui-base
+yui-grids-init("#footer", "#body")
+yui-grid-divisions

#header, #body, #footer
  padding: 0 10px

#header
  padding-top: 5px
  height: 25px
  +background-gradient(darkgreen, #32cd32, darkgreen)

.button
  padding: 1px 5px

input[type=submit], .button
  text-decoration: none
  color: black
  +background-gradient(darkslategray, lightslategray, darkslategray)
  +rounded-corners(6px)
  border: 2px ridge black

input[type=submit]:hover, .button:hover
  color: white
  border-style: outset

input[type=submit]:active, .button:active
  +background-gradient(lightslategray, darkslategray, lightslategray)
  color: white
  border-style: inset

#logo a
  text-decoration: none
  font-weight: bold
  font-size: 123.1%

#documentation
  .documentation_navigation, .documentation_editing
    padding-bottom: 6px

.documentation_navigation, .documentation_editing
  padding: 4px 0 17px 0
  
#documentation, .page_content
  clear: both
  
#login_bar, #logout_bar
  float: right

#add_page_button
  margin-top: 20px
  margin-left: 16px

#main_content
  padding-left: 18px

#menu_container
  padding-top: 18px
  a, #menu_current_item
    text-decoration: none
    font-weight: bold
  ul, li
    list-style: none

#menu_current_item
  color: #C0F
  padding: 2px

.markdown_editor
  width: 100%
  height: 300px

fieldset.positioning_tree, a#header_login_button, #tree_editor
  display: none
 
.wmd-preview
  height: 300px
  border: 1px solid black
  overflow: auto

.documentation_navigation
  float: left
  padding: 0 4px
  margin-bottom: 10px
  border: 1px solid lightgray

.documentation_editing
  float: right

#toc
  clear: left
  background-color: #BDFCC9
  text-align: center
  padding: 5px
  margin-bottom: 10px
  width: 300px
  margin-left: 20px
  +rounded-corners(6px)

  ul
    li
      text-align: left
      list-style: none
    
      a
        color: black
        font-weight: bold

#search
  float: left