@import yui.sass
@import yui-ext.sass
@import compass/reset.sass
@import forms.sass
@import comments.sass

+yui-base-fonts
+yui-base
+yui-grids-init("#footer", "#body")
+yui-grid-divisions

=background-gradient(!colour1, !colour2, !colour3)
  background = !colour2
  background = -webkit-gradient(linear, left bottom, left top, color-stop(0, !colour1), color-stop(0.5, !colour2), color-stop(1, !colour3))
  background = -moz-linear-gradient(center bottom, !colour1 0%, !colour2 50%, !colour3 100%)

#header, #body, #footer
  padding: 0 10px

#header
  padding-top: 5px
  height: 25px
  +background-gradient(darkgreen, #32cd32, darkgreen)

#documentation, .page_content
  clear: both
  
#login_bar, #logout_bar
  float: right

#add_page_button
  margin-left: 16px

#main_content
  padding-left: 18px

#menu_container
  a, #menu_current_item
    text-decoration: none
    font-weight: bold
  ul, li
    list-style: none

#menu_current_item
  color: #C0F
  padding: 2px

.markdown_editor
  width: 100%
  height: 300px

fieldset.positioning_tree, a#header_login_button
  display: none
 
.wmd-preview
  height: 300px
  border: 1px solid black
  overflow: auto

.documentation_navigation
  float: left

.documentation_editing
  float: right