@import yui.sass
@import yui-ext.sass
@import compass/reset.sass
@import forms.sass   

+yui-base-fonts
+yui-base
+yui-grids-init("#footer", "#body")
+yui-grid-divisions

ul li
  list-style: none


textarea
  width: 80%

fieldset.positioning_tree
  display: none
 
.wmd-preview
  border: 1px solid black
