!!! 5
%html
  %head
    != stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
  %body
    #idoc-body
      #header
        .section-main
          .section-item
            title here
        .section-item
          iDoc
      #body
        .section-main
          .section-item
            - if flash[:notice]
              .notice= flash[:notice]
            != yield
        .section-item
          != render :partial => 'shared/menu', :object => @menu_items
      #footer